body {
    color: black;
    font-family: arial;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration-line: none;
    margin-right: 16px;
    color: #888888;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

footer {
    border-top: 1px solid #eeeeee;
    color: #888888;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

.container {
    flex-grow: 1;
}