<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>
    {{>header}}
    <div class="container">
        <p>{{description}}</p>
    </div>
    {{>footer}}

</body>

</html>