<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>
    {{>header}}
    
    <h1 class="container" >Help</h1>

    {{>footer}}
</body>

</html>